<div class="container-new-product">
    <div class="row m-0 p-0">
      <div class="col-12">logo</div>
    </div>
    <div class="py-5"></div>
    <div class="row m-0 p-0 mt-3">
      <div class="col-md-2 col-1 col-lg-3 col-xl-4 d-none d-md-block"></div>
      <div class="card bg-card-custom my-0 p-0 border-0 col-md-8 col-lg-6 col-xl-4 col-12">
        <div class="card-body row">
          <div class="col-12 d-flex justify-content-center">
            <h1 class="h1 text-light">New Product</h1>
          </div>
          <div class="d-flex col-12 justify-content-center">
            <div class=" line px-5"></div>
          </div>
          <div class="col-12 d-flex justify-content-center mt-5">
            <h1 class="h1 h2-sm h1-xs text-light message_registry">Request success</h1>
          </div>
          <div class="col-12 d-flex justify-content-center mt-5 mb-3">
            <h4 class="col-12 text-light text-center message">Your order has been sent successfully,
                an advisor will contact you soon
            </h4>
          </div>
          <div class="col-12 px-4">
              <div>
                <div class="text-center">
                  <button type="button" class="btn btn-primary btn-block p-2 col-10 button-registry"
                    (click)="home()">Go Home</button>
                </div>
                
                <div class="py-1"></div>
              </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-1 col-lg-3 col-xl-4 d-none d-md-block"></div>
    </div>
  </div>