.contrainer-bar {
    background-color: #0147cb;
    width: 100%;
}

.rouded-img {
    border-radius: 50%;
    max-width: 100px;
}

.text-wellcome {
    color: white;
    font-size: 1.3rem;
}

.text-message {
    color: white;
    font-size: 1rem;
}

.text-balance {
    color: white;
    font-size: 1.6rem;
    font-weight: 580;
}

.button-action {
    font-size: 1rem;
    border-radius: 30px;
}